@using UniversityManagementSystemApp.Models


@{
    ViewBag.Title = "AllocateClassRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> aDepartments = ViewBag.Departmentlist;
    List<Day> aDays = ViewBag.Daylist;
    List<Room> aRooms = ViewBag.RoomList;



}
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Content/wickedpicker.css" rel="stylesheet" />
<h2>Allocate Class Room</h2>


<div>
    <form id="AllocateClassrom" method="POST">
        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="DepartmentId">Department</label>
                <div class="col-md-10">
                    <select name="DepartmentId" id="DepartmentId">
                        <option value="">Pls select department</option>
                        @foreach (Department aDepartment in aDepartments)
                        {
                            <option value="@aDepartment.Id">@aDepartment.Name</option>
                        }
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="CourseId">Course</label>

                <div class="col-md-10">
                    <select id="CourseId" name="CourseId"></select>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="RoomId">Room</label>

                <div class="col-md-10">
                    <select name="RoomId" id="RoomId">
                        <option value="">Pls select Room</option>
                        @foreach (Room aRoom in aRooms)
                        {
                            <option value="@aRoom.Id">@aRoom.Name</option>
                        }
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DayId">Day</label>

                <div class="col-md-10">
                    <select id="DayId" name="DayId">
                        <option value="">Pls select Day</option>
                        @foreach (Day aDay in aDays)
                        {
                            <option value="@aDay.Id">@aDay.Name</option>
                        }
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DateTimeFrom">DateTimeFrom</label>

                <div class="col-md-10">
                    <input type="text" id="DateTimeFrom" name="DateTimeFrom" class="timepicker" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DateTimeTo">DateTimeTo</label>

                <div class="col-md-10">
                    <input type="text" id="DateTimeTo" name="DateTimeTo" class="timepicker" />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="Submit" name="Submit" value="Allocate" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    @if (ViewBag.message != null)
    {
        <p>@ViewBag.message</p>
    }
</div>
<hr/>
<div>
    <form id="Unassign Classroom" method="POST">
        <div align="center">
            <input onclick="return ConfirmDelete();" type="submit" value="Unassign All Classrooms" id="unassignSubmit" name="unassignSubmit" class="btn btn-danger" />
        </div>
    </form>
    <div>
        @if (ViewBag.unallocationMessage != null)
        {
            <p>@ViewBag.unallocationMessage</p>
        }
    </div>
</div>

@section scripts
{

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        function ConfirmDelete() {
            var x = confirm("Are you sure you want to Unallocate All classes?");
            if (x)
                return true;
            else
                return false;
        }


        $().ready(function () {
            $("#AllocateClassrom").validate({
                rules: {

                    RoomId: "required",

                    DepartmentId: "required",
                    CourseId: "required",
                    DayId: "required",
                    DateTimeFrom: "required",
                    DateTimeTo: "required"

                },
                messages: {


                    RoomId: "Please select a room",
                    DepartmentId: "Please select a department",
                    CourseId: "Please select a course",
                    DayId: "Please select a day",
                    DateTimeFrom: "Please select a start time",
                    DateTimeTo: "Please select a end time"
                }
            });
        });
    </script>
    <script>
        $("#DepartmentId").change(function () {
            $("#CourseId").empty();
            $("#CourseId").append("<option value=" + "" + ">Pls Select</option>");


            var deptid = $("#DepartmentId").val();
            var json = { departmentId: deptid };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCourseBydeptId", "Room")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {


                    $.each(data, function (key, value) {

                        $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                    });
                }
            });


        });

    </script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/wickedpicker/wickedpicker.js"></script>
    <script>
        $(document).ready(function () {
            $("#DateTimeFrom").val('');
            $("#DateTimeTo").val('');
            $("#DateTimeFrom").click(function () {
                $("#DateTimeFrom").val('');
                $("#DateTimeFrom").wickedpicker({
                    title: 'Pls select your Room allocation time ',
                    //upArrow: 'wickedpicker_controls_control-up',
                    //downArrow:'wickedpicker_controls_control-down',
                    clearable: true
                });
            });
            $("#DateTimeTo").click(function () {
                $("#DateTimeTo").val('');

                $("#DateTimeTo").wickedpicker({
                    title: 'Pls select your Room allocation time ',
                    clearable: true

                });
            });

        });



    </script>
}
