@using UniversityManagementSystemApp.DAL.Model
@using UniversityManagementSystemApp.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> aDepartments = ViewBag.DepatmentList;
    List<Semester> aSemesters = ViewBag.SemesterList;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <fieldset>
            <legend>Save Course</legend>
            <div align="center">
                <form id="courseSave" method="POST">
                    <table>
                        <tr>
                            <td><label for="Code">Code</label></td>
                            <td><input type="text" id="Code" name="Code" /></td>
                        </tr>
                        <tr>
                            <td><label for="Name">Name</label></td>
                            <td><input type="text" id="Name" name="Name" /></td>
                        </tr>
                        <tr>
                            <td><label for="Credit">Credit</label></td>
                            <td><input type="text" id="Credit" name="Credit" /></td>
                        </tr>
                        <tr>
                            <td><label for="Description">Description</label></td>
                            <td><textarea rows="3" cols="19" id="Description" name="Description"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="Department_Id">Department</label></td>
                            <td>
                                <select id="Department_Id" name="Department_Id">
                                    <option value="">Select a Department</option>
                                    @foreach (Department aDepartment in aDepartments)
                                    {
                                        <option value="@aDepartment.Id">@aDepartment.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="Semester_Id">Semester</label></td>
                            <td>
                                <select id="Semester_Id" name="Semester_Id">
                                    <option value="">Select a Semester</option>
                                    @foreach (Semester aSemester in aSemesters)
                                    {
                                        <option value="@aSemester.Id">@aSemester.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Save" /></td>
                        </tr>

                    </table>
                </form>
            </div>
            @if (ViewBag.message != null)
            {
                <p>@ViewBag.message</p>
            }
        </fieldset>
    </div>
    @section scripts
{
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script>
            $().ready(function () {
                $("#courseSave").validate({
                    rules: {
                        Name: "required",

                        Code: {
                            required: true,
                            minlength: 5
                        },
                        Credit: {
                            required: true,
                            number: true,
                            max: 5,
                            min: 0.5
                        },

                        Department_Id: "required",
                        Semester_Id: "required"


                    },
                    messages: {
                        Code: {
                            required: "Please enter the course code",
                            minlength: "Code must be at least five (5) characters long"

                        },

                        Name: "Please enter the course name",
                        Credit: {
                            required: "Please enter the course credit",
                            number: "Credit must be in number",
                            max: "The credit may not be more than 5",
                            min: "The credit may not be less than 0.5"
                        },

                        Department_Id: "Please select a department",
                        Semester_Id: "Please select a semester"

                    }
                });
            });
        </script>
    }
</body>
</html>